body{
    margin: 0%;
}

.nav-bar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 110px;
}

.company-name{
    display: flex;
    height: 110px;
    width: 130px;
    padding-left: 40px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.company-logo{
    width: 80px;
    padding-right: 35px;
}

#company-logo-img{
    padding: 5px;
    width: 70px;
}

#company-name-text{
    font-size: 30px;
    border: 2px solid white;
}

#company-name-ff{
    font-size: 18px;
}

.company-name p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px;
}


.nav-bar-options{
    display: flex;
    gap: 50px;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar-options a, .acess-buttons a{
    color: white;
}

.options-logo{
    display: flex;
    gap: 25px;
}

.acess-buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.acess-buttons a{
    padding: 2px;
}

#login-button{
    border: 1px solid white;
    border-radius: 10%;
    color: white;
}

#signup-button{
    background-color: white;
    border-radius: 10%;
    color: black;
}

.tag-line{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 350px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bold;
    font-size: 90px;
}

.tag-line div{
    display: flex;
}

.tag-line-left{
    justify-content: left;
}

.tag-line-center{
    justify-content: center;
}

.tag-line-right{
    justify-content: right;
}

.para-line{
    position: absolute;
    top: 309px;
    width: 250px;
    padding-top: 20px;
    font-weight: lighter;
    font-size: 20px;
    text-wrap: wrap;
}

#explore-link{
    position: absolute;
    font-size: 15px;
    top: 350px;
    left: 1200px;
    background-color: black;
    text-wrap: wrap;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
    align-items: center;
    margin-right: 40px;
}

a{
    text-decoration: none;
}
